In [5]:
import pandas as pd
import numpy as np

In [8]:
POPULATION_BY_RELIGION = '../data/world-religions/global_raw.csv'

In [9]:
df = pd.read_csv(POPULATION_BY_RELIGION)

In [11]:
print(df.columns)

Index(['year', 'christianity_protestant', 'christianity_romancatholic',
       'christianity_easternorthodox', 'christianity_anglican',
       'christianity_other', 'christianity_all', 'judaism_orthodox',
       'judaism_conservative', 'judaism_reform', 'judaism_other',
       'judaism_all', 'islam_sunni', 'islam_shi’a', 'islam_ibadhi',
       'islam_nationofislam', 'islam_alawite', 'islam_ahmadiyya',
       'islam_other', 'islam_all', 'buddhism_mahayana', 'buddhism_theravada',
       'buddhism_other', 'buddhism_all', 'zoroastrianism_all', 'hinduism_all',
       'sikhism_all', 'shinto_all', 'baha’i_all', 'taoism_all', 'jainism_all',
       'confucianism_all', 'syncretism_all', 'animism_all', 'noreligion_all',
       'otherreligion_all', 'religion_all', 'population', 'world_population',
       'protestant_percent', 'romancatholic_percent',
       'easternorthodox_percent', 'anglican_percent',
       'otherchristianity_percent', 'christianity_percent', 'orthodox_percent',
       'conservative_percent', 'reform_percent', 'otherjudaism_percent',
       'judaism_percent', 'sunni_percent', 'shi’a_percent', 'ibadhi_percent',
       'nationofislam_percent', 'alawite_percent', 'ahmadiyya_percent',
       'otherislam_percent', 'islam_percent', 'mahayana_percent',
       'theravada_percent', 'otherbuddhism_percent', 'buddhism_percent',
       'zoroastrianism_percent', 'hinduism_percent', 'sikhism_percent',
       'shinto_percent', 'baha’i_percent', 'taoism_percent', 'jainism_percent',
       'confucianism_percent', 'syncretism_percent', 'animism_percent',
       'noreligion_percent', 'otherreligion_percent', 'religion_sumpercent',
       'total_percent'],
      dtype='object')

In [12]:
df = df[['year','christianity_all','judaism_all','islam_all','buddhism_all', 'hinduism_all','shinto_all','syncretism_all','animism_all','noreligion_all','world_population']]

In [13]:
df

,year,christianity_all,judaism_all,islam_all,buddhism_all,hinduism_all,shinto_all,syncretism_all,animism_all,noreligion_all,world_population
0,1945,701350290,12009400,130760281,116237936,5389197,55228775,428660117,33210080,153486530,2250000000
1,1950,696480122,13698294,294121067,159011902,301349500,65452839,431942094,88853880,192925316,2780296616
2,1955,836002102,12986204,344072007,179384199,328704605,68145114,385702150,93710944,304128449,3039433944
3,1960,966967595,13728856,435123088,200439159,361169167,71357167,325016083,135768801,434629671,3345409879
4,1965,1074713786,14253679,514634057,212593384,397863182,74982591,358844822,160893706,474097850,3706601448
5,1970,1176605676,14833409,592342288,228802634,449824489,79156350,379156729,167009224,588838181,4086387665
6,1975,1300116609,15914548,663674348,260324284,488621807,85416548,372344153,168615279,690431832,4453863820
7,1980,1392078609,16606995,647139477,298402116,537594394,89429228,398417206,165629178,737801266,4850224998
8,1985,1506919051,16782995,747128591,337670689,601622535,92520741,435629032,166066939,788196309,5277725410
9,1990,1695081219,14869547,999680318,375247755,659849828,94607820,469199898,182182331,838271280,5687011326
10,1995,1785414969,14072306,1154990606,411955330,720868905,96137007,503019620,192906325,802280726,5687011326
11,2000,1890923184,13446312,1314048240,388256056,875605734,97189265,562844555,166747465,782412122,6081002937
12,2005,1990731467,14270328,1426454346,474117121,947361362,107221255,569336868,171348718,743821311,6462181426
13,2010,2111912953,14023309,1555482766,485246937,1017342648,108343192,590530545,174264339,788323943,6840423256